@page
@{
    Layout = "~/Pages/Home/_Layout.cshtml";
}

<div class="welcome-container">
    <div class="welcome-header">
        <h1>Добро пожаловать на наш сайт!</h1>
    </div>
    <div class="welcome-content">
        <p>Мы рады видеть вас здесь. Ознакомьтесь с нашим проектом и узнайте больше!</p>
        <a href="/about" class="welcome-button">Узнать больше</a>
    </div>
</div>

<link rel="stylesheet" href="~/css/welcome.css" asp-append-version="true" />