@page
@model CourseProject.Web.Pages.Home.RegModel
@{
    Layout = "~/Pages/Home/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/reg.css" asp-append-version="true" />


<div class="register-container">
    <h1>Login</h1>
    <form id="registerForm">
        <input type="text" id="registerUsername" placeholder="Username" required />
        <input type="text" id="registerFullName" placeholder="FullName" required />
        <input type="password" id="registerPassword" placeholder="Password" required />
        <button type="submit">Регистрицая</button>
        <p id="registerErrorMsg" style="display: none; color: red;"></p>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script rel="stylesheet" src="~/js/auth/reg.js" asp-append-version="true"></script>
