/* Общие стили для модального окна */
.modal-info {
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
}

/* Содержимое модального окна */
.modal-info-content {
    position: relative;
    background-color: #ffffff;
    margin: 10% auto; /* Центровка окна */
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Ширина окна */
    max-width: 500px; /* Максимальная ширина */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: modalInfoFadeIn 0.3s ease-in-out; /* Анимация появления */
}

    /* Кнопка закрытия окна */
    .modal-info-content .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #aaa;
        cursor: pointer;
        transition: color 0.3s ease;
    }

        .modal-info-content .close:hover {
            color: #000;
        }

/* Анимация появления окна */
@keyframes modalInfoFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Адаптивность для маленьких экранов */
@media screen and (max-width: 600px) {
    .modal-info-content {
        width: 95%;
        padding: 15px;
    }
}
